<!DOCTYPE HTML>
<html>
<head>
  <meta charset='utf-8'>
  <style type="text/css">
    #mapdiv {
      height: 23rem;
      width: 18rem;
      margin: 0 auto;
    }

    #submit {
      display: block;
      margin: 1rem auto 0 auto;
      width: 14rem;
      height: 3rem;
      font-size: 20pt;
      color: black;
    }
  </style>
</head>
<body>
  <div id="mapdiv"></div>
  <button type=button id="submit">Check-in</button>
  <script src="/OpenLayers.js"></script>
  <script src="/app.js"></script>
</body></html>
