<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <meta charset="utf-8">
    <title>Template</title>

    <style>
      html, body {
        width: 100%;
        height: 100%;
        background-color: pink;
        overflow: hidden;
      }
    </style>

    <script>
    </script>
  </head>

  <body>

    <p>Implement me</p>
    <iframe sandbox="allow-same-origin allow-top-navigation" id="frame" src="frame.html">
    </iframe>
    World

  </body>
  <script>
    var f = document.getElementById('frame');
    f.onload = function() {
      var k = f.contentWindow.window.document;
      console.log('<<<<', k.getElementById('h').textContent);
      DEBUG = k;
    };
  </script>

</html>
